.fondo{
    color: darkblue;
    background-image: url('../html/imagenes/prueba1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: chocolate;
    opacity: 0.9;
    padding: center;
    font-size: 20px;
}