body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card{
    width: 250px;
    text-align: center;
    background-color: darkcyan;
    padding: 20px;
    border-radius: 10px 0;
    color: aqua;
}
.perfil{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    

}
